// Imports
import ___CSS_LOADER_API_NO_SOURCEMAP_IMPORT___ from "../../node_modules/css-loader/dist/runtime/noSourceMaps.js";
import ___CSS_LOADER_API_IMPORT___ from "../../node_modules/css-loader/dist/runtime/api.js";
var ___CSS_LOADER_EXPORT___ = ___CSS_LOADER_API_IMPORT___(___CSS_LOADER_API_NO_SOURCEMAP_IMPORT___);
// Module
___CSS_LOADER_EXPORT___.push([module.id, ".list-container{height:424px}.tree-container{height:424px;position:relative}.loader-container{align-items:center;display:flex;height:424px;justify-content:center;width:100%}.loader-container-multi,.tree-container-multi{height:422px}.loader-container-with-footer,.tree-container-with-footer{height:350px}now-record-typeahead-list{height:100%;width:60vw}", ""]);
// Exports
export default ___CSS_LOADER_EXPORT___;
