:host {
	box-sizing: border-box;
	line-height: var(--now-line-height, 1.25);
	font-family: var(--now-font-family,"Source Sans Pro",Arial,sans-serif);
}
:host([hidden]) {
	display: none;
}
*,
:after,
:before {
	box-sizing: border-box;
}
.label-text {
	padding-top: 0.75rem;
	margin-bottom: 0.75rem;
}
